<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

</head>

<body>
    <h1>Covid 19 Tracker</h1>
    <div class="container">
        <h4>Covid 19</h4>
        <!-- {% for key, value in data_dict.items %}
        <h2>{{ value.Country }}</h2>
        <h6>Population: {{ value.Population }}</h6>
        <h6>Latitude: {{ value.latitude }}</h6>
        <h6>Longtude: {{ value.longitude }}</h6>
        <h6>Confirmed Cases: {{ value.confirmed }}</h6>
        <h6>Deaths: {{ value.deaths }}</h6>
        <h6>Recovered: {{ value.recovered }}</h6>
        <h6>Last Updated: {{ value.last_updated }}</h6>
        <br> {% endfor %} -->
    </div>
    <script src="" async defer></script>
</body>

</html>