<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

</head>

<body>
    <h1>Covid 19 Tracker - Latest</h1>
    <div class="container">
        <h4>Covid 19</h4>
        {% for item in new_data_dict.items %}
        <h6>{{ item.1.state_abbr }}</h6>
        <h6>Positive Tests: {{ item.1.positive_tests }}</h6>
        <h6>Negative Tests: {{ item.1.negative_tests }}</h6>
        <h6>Pending Tests: {{ item.1.pending_tests }}</h6>
        <h6>Hospitalized Currently: {{ item.1.hospitalized_currently }}</h6>
        <h6>Hospitalized Cumulative: {{ item.1.hospitalized_cumulative }}</h6>
        <br>
        <h6>{{ item.1 }}</h6>
        <br> {% endfor %}
        <br>
    </div>
    <script src="" async defer></script>
</body>

</html>